# Backend
backend/target/
backend/*.jar
backend/*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
*.log
npm-debug.log*

# Database & IDE
.idea/
.vscode/
*.swp
*.sqlite
.DS_Store
Thumbs.db
